@import url("reset.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 微軟正黑體, "Times New Roman", serif;
}

.container {
  width: 42.3%;
  height: auto;
  margin: 20px auto;
}

.container > .Status {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.container > .Status > .title {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  display: flex;
  padding: 20px 35px;
  align-items: center;
  border-right: #e8e8e8 2px solid;
  border-left: #e8e8e8 2px solid;
  border-bottom: #e8e8e8 2px solid;
}

.container > .Status > .title > .bar {
  background-color: #009f49;
  width: 8px;
  height: 32px;
  margin-right: 17px;
}

.container > .Status > .title > h1 {
  font-size: 26px;
  color: #515151;
}

.container > .Status > .order {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  border-right: #e8e8e8 2px solid;
  border-bottom: #e8e8e8 2px solid;
  border-left: #e8e8e8 2px solid;
  display: flex;
  padding: 30px 0;
}

.container > .Status > .order > .icon {
  width: 25%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container > .Status > .order > .icon > img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.container > .Status > .order > .text {
  width: 65%;
  height: auto;
  overflow: hidden;
  background-color: #fff;
}

.container > .Status > .order > .text > .top {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  margin-bottom: 10px;
}

.container > .Status > .order > .text > .top > .status {
  font-size: 26px;
  color: #16a55b;
  font-weight: 600;
  margin-right: 13%;
}

.container > .Status > .order > .text > .top > .date {
  font-size: 26px;
  color: #515151;
  font-weight: 600;
}

.container > .Status > .order > .text > .bottom {
  font-size: 26px;
  color: #4f4f4f;
  font-weight: 500;
  width: 88%;
}

.container > .Status > .order > .mark {
  width: 10%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-self: flex-start;
}

.container > .Status > .order > .mark > img {
  width: 25px;
  height: 25px;
}
